.pioenvs
.piolibdeps
.clang_complete
.clang_format
.gcc-flags.json
.vscode/.browse.c_cpp.db
.vscode/.browse.c_cpp.db-shm
.vscode/.browse.c_cpp.db-wal
.vscode/c_cpp_properties.json
.vscode/extensions.json
.vscode/launch.json
.vscode/settings.json
.vscode/ipch/2ece5b806e32811d/OTA.ipch
.vscode/ipch/2ece5b806e32811d/mmap_address.bin
.vscode/ipch/3f7da24cca5cc042/main.ipch
.vscode/ipch/3f7da24cca5cc042/mmap_address.bin
.vscode/ipch/d40c52492e2d65ad/NTP.ipch
.vscode/ipch/d40c52492e2d65ad/mmap_address.bin
platformio.ini
.vscode/ipch/fe2340abf1f48642/ntp.ipch
.vscode/ipch/36afc53c71551acc/ESP8266WebServer.ipch
.vscode/ipch/36afc53c71551acc/mmap_address.bin
.vscode/ipch/39d064ca7d79e23f/mmap_address.bin
.vscode/ipch/52137397460a4d41/init.ipch
.vscode/ipch/52137397460a4d41/mmap_address.bin
.vscode/ipch/64ca6f5d0f1099da/ESP8266WiFi.ipch
.vscode/ipch/64ca6f5d0f1099da/mmap_address.bin
.vscode/ipch/6af760ada08d64aa/mmap_address.bin
.vscode/ipch/6af760ada08d64aa/ota.ipch
.vscode/ipch/6e50383f5a6bb459/ArduinoOTA.ipch
.vscode/ipch/6e50383f5a6bb459/mmap_address.bin
.vscode/ipch/881ecd82f586997f/Time.ipch
.vscode/ipch/881ecd82f586997f/mmap_address.bin
.vscode/ipch/979dea99fab1d318/mmap_address.bin
.vscode/ipch/b6d504f7a13a96fd/mmap_address.bin
.vscode/ipch/b6d504f7a13a96fd/ota.ipch
.vscode/ipch/c046d64762d7e698/mmap_address.bin
.vscode/ipch/c87cfd764f29614d/mmap_address.bin
.vscode/ipch/c87cfd764f29614d/ntp.ipch
.vscode/ipch/e3c8a1fae0f5bef3/core_esp8266_wiring.ipch
.vscode/ipch/e3c8a1fae0f5bef3/mmap_address.bin
.vscode/ipch/eaeb9273dacd0887/FS.ipch
.vscode/ipch/eaeb9273dacd0887/mmap_address.bin
.vscode/ipch/ec4248be243f1a47/fs.ipch
.vscode/ipch/ec4248be243f1a47/mmap_address.bin
.vscode/ipch/fe2340abf1f48642/mmap_address.bin
platformio.ini
platformio.ini
.vscode/ipch/4f2dd69f6ba88e5f/mmap_address.bin
